description = 'Client side of the MIF PMD'
# Setup configuration
setup = {
	'devices': [
		'81:00.0 81:00.1 81:00.2 81:00.3',
		'85:00.0 85:00.1 85:00.2 85:00.3',
		'83:00.0'
		],
		
	'opts': [
		'-b igb_uio'
		]
	}

# Run command and options
run = {
	'dpdk': [
		'-l 4,5-6',
		'-n 4',
		'--proc-type auto',
		'--log-level 7',
		'--socket-mem 512,512',
		'--file-prefix pg2',
		'--vdev=net_mif0,iftype=client,rxring=512,txring=512',
		],
	
	'blacklist': [
		'-b 81:00.0 -b 81:00.1 -b 81:00.2 -b 81:00.3',
		'-b 85:00.0 -b 85:00.1 -b 85:00.2 -b 85:00.3',
		'-b 83:00.0'
		],
		
	'pktgen': [
		'-T',
		'-P',
		'--crc-strip',
		'-m [5:6].0',
		],
	
	'misc': [
		'-f themes/black-yellow.theme'
		]
	}
