description = 'Setup to use the bonding driver, but only one bond connected to non-bonded ports'

# Setup configuration
setup = {
    'exec': (
        'sudo',
        '-E'
        ),
	'devices': (
		'81:00.0', '81:00.1', '81:00.2', '81:00.3',
		'83:00.0', '83:00.1', '83:00.2', '83:00.3',
		),

	'uio': 'vfio-pci'
	}

# Run command and options
run = {
    'exec': (
        'sudo',
        '-E'
        ),

    # Application name and use app_path to help locate the app
    'app_name': 'pktgen',

    # using (sdk) or (target) for specific variables
    # add (app_name) of the application
    # Each path is tested for the application
    'app_path': (
        './usr/local/bin/%(app_name)s',
        '/usr/local/bin/%(app_name)s'
        ),

	'cores': '1,14-21,22-23',
	'nrank': '4',
	'proc': 'auto',
	'log': '7',
	'prefix': 'pg',
	'vdev': 'net_bonding0,mode=4,xmit_policy=l23,worker=0000:81:00.0,worker=0000:81:00.1,worker=0000:81:00.2,worker=0000:81:00.3',

	'blocklist': ( '81:00.0', '83:00.0' ),

	'opts': (
		'-T',
		'-P',
		),
	'map': (
		'[14:15].0',
		'[16:17].1',
		'[18:19].2',
		'[20:21].3',
		'[22:23].8',
		),

	'theme': 'themes/black-yellow.theme'
	}
