description = 'A Pktgen default simple configuration'

# Setup configuration
setup = {
    'exec': (
	'sudo', '-E'
        ),

    'devices': (
	    '03:00.0', '03:00.1',
	    '82:00.0', '82:00.1'
	    ),
    # UIO module type, igb_uio, vfio-pci or uio_pci_generic
    'uio': 'vfio-pci'
    }

# Run command and options
run = {
    'exec': (
	'sudo', '-E'
        ),

    # Application name and use app_path to help locate the app
    'app_name': 'pktgen',

    # using (sdk) or (target) for specific variables
    # add (app_name) of the application
    # Each path is tested for the application
    'app_path': (
		'./usr/local/bin/%(app_name)s',
		'/usr/local/bin/%(app_name)s'
        ),

	'cores': '2,4,6,8,10,14,16,18',
	'nrank': '4',
	'proc': 'auto',
	'log': '7',
	'prefix': 'pg',

	'allowlist': (
		'03:00.0', '03:00.1',
		'82:00.0', '82:00.1'
		),

	'opts': (
		'-v',
		'-T',
		'-P',
		'-G',
		),
	'map': (
		'[4:6].0',
		'[8:10].1',
		'[14:16].2',
		'[18:20].3',
		),

	'theme': 'themes/black-yellow.theme',
	'loadfile': 'cnet-fwd'
	}
